<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding">
  <div class="main">
    <div class="logo red">
      Domus360
    </div>
<!--
    <div class="sub-text-1">
      Login instantly with
    </div>
    <div class="social">
      <ion-button expand="block" fill="clear">
        <img src="../../../../assets/icon/fb.png" />
      </ion-button>
      <ion-button expand="block" fill="clear">
        <img src="../../../../assets/icon/google.png" />
      </ion-button>
    </div>
    <div class="sub-text-2">
      OR
    </div>
-->
    <div class="email">
      <ion-label>Email</ion-label>
      <ion-input clearInput name="email" [(ngModel)]="email" type="text" placeholder="Email">
      </ion-input>
    </div>
    <div class="password">
      <ion-label>Password</ion-label>
      <ion-input clearInput name="password" [(ngModel)]="password" type="password" placeholder="Password">
      </ion-input>
    </div>
    <div class="sub-text-3">
      <!--<div class="check">
        <ion-checkbox></ion-checkbox> Remember me
      </div>-->
<!--
      <div class="forgot">Forgot Password ?</div>
-->
    </div>
    <div class="button">
      <ion-button (click)="login()" expand="block" class="login-button">Login</ion-button>
    </div>
    <div class="sub-text-4">
      <ion-text>Don't have an account?</ion-text>
        <ion-text class="link ion-padding-start"><a href="/register">Signup here</a></ion-text>
    </div>
  </div>
</ion-content>