// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu {
  --ion-background-color: linear-gradient(to bottom, var(--ion-color-primary) 0%, var(--ion-color-primary-shade) 100%, var(--ion-color-primary) 100%);
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-toolbar {
    //--background: var(--ion-color-primary);
    --ion-background-color: linear-gradient(to bottom, var(--ion-color-primary) 0%, var(--ion-color-primary-shade) 100%, var(--ion-color-primary) 100%);
  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
  }
}