<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Test
  </div>
    <ion-grid>
        <!--<ion-card *ngIf="user">
            <ion-card-content>
                {{ user.email }} - {{ user.first_name }} {{ user.last_name }}
            </ion-card-content>
        </ion-card>
        <ion-text color="medium" class="ion-text-center">
            <p>Authenticated!</p>
            <p>You joined the chat as {{ currentUser }}</p>
        </ion-text>
        <ion-row *ngFor="let message of messages">

            <ion-col size="9" *ngIf="message.user !== currentUser" class="message other-message">
                <b>{{ message.user }}</b><br>
                <span>{{ message.msg }}</span>
                <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
            </ion-col>

            <ion-col offset="3" size="9" *ngIf="message.user === currentUser" class="message my-message">
                <b>{{ message.user }}</b><br>
                <span>{{ message.msg }}</span>
                <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
            </ion-col>

        </ion-row>-->
    </ion-grid>
    <ion-button expand="block" (click)="logout()">Logout</ion-button>

</ion-content>

<ion-footer>
    <!--<ion-toolbar color="light">
        <ion-row class="ion-align-items-center">
            <ion-col size="10">
                <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
            </ion-col>
            <ion-col size="2">
                <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
                            (click)="sendMessage()">
                    <ion-icon name="ios-send" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>-->
</ion-footer>