<ion-content text-center center>
  <div class="content">
    <div class="top">
      <div class="logo">
        <img src="../../assets/img/beach.png" />
      </div>
      <ion-text class="title" color="light">Domus360</ion-text>
    </div>
    <div class="bottom ion-padding-horizontal" [formGroup]="credentialsForm" >
      <div class="content-list">
        <ion-card class="input-card" margin-vertical>
          <ion-item lines="none">
            <ion-icon name="person" item-start></ion-icon>
            <ion-input type="text" placeholder="Full Name"  formControlName="name" class="ion-padding-start"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="mail" item-start></ion-icon>
            <ion-input type="email" placeholder="Email"  formControlName="email" class="ion-padding-start"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="password" item-start></ion-icon>
            <ion-input type="password" placeholder="Password" formControlName="password" class="ion-padding-start"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="password_confirmation" item-start></ion-icon>
            <ion-input type="password" placeholder="Ripeti password" formControlName="password_confirmation" class="ion-padding-start"></ion-input>
          </ion-item>
        </ion-card>
      </div>
      <div class="loginBtn" margin-vertical>
        <ion-button (click)="register()" [disabled]="!credentialsForm.valid" expand="full" class="ion-no-padding">Register</ion-button>
        <ion-text class="font-small">Already have an account? <span ion-text class="link">
            <a href="/login" color="light">Click here</a></span>
        </ion-text>
      </div>
    </div>
  </div>

</ion-content>